@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 8px;
  color: theme(colors.black.DEFAULT);
  /* color: #fff; */
}

h2 {
  font-size: 1.875rem;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 1.17rem;
}
